<app-nav-menu></app-nav-menu>
<div class="scanner-layout">
    <h2>Digite o código de barras, abaixo: </h2>

    <div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="height: 100%;">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Digite o código de barras" [(ngModel)]="barCode"/>
        </div>          
    </div>

    <button type="submit" class="btn btn-success margin-button-search" (click)="Search()">Procurar</button>

    <h2>Classe: </h2>
    <h3>{{classifier.class}}</h3>
</div>

