.scanner-layout {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3%;
}

.margin-button-search {
    margin-top: 5%;
    font-weight: bold;
}