
<!--No menu, como vai ser um padrão para cada pagina ou na maioria, eu criei um component somente para o menu e eu posso usar-lo da seguinte forma: -->
<!-- Você pode observar o mesmo padrão para os components login, cadastro, scanner -->
<!---Menu e Botões-->
<app-nav-menu></app-nav-menu>

<!--Video-->

<!-- <video class="video" autoplay loop>
  <source src="../../../assets/video/video-homepage.mp4" type="video/mp4">
</video> -->

<!--Carousel-->
<section>
   <div class="carousel-style">
      <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator" [interval]="cycleInterval">
         <slide *ngFor="let slide of slides; let index=index">
            <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
               <h4>Slide {{index}}</h4>
               <p>{{slide.text}}</p>
            </div>
         </slide>
      </carousel>
   </div>
</section>