<!--No menu, como vai ser um padrão para cada pagina ou na maioria, eu criei um component somente para o menu e eu posso usar-lo da seguinte forma: -->
<!-- Você pode observar o mesmo padrão para os components login, cadastro, scanner -->
<!---Menu e Botões-->

<!--Video-->
<app-nav-menu></app-nav-menu>
<video class="video" autoplay loop>
   <source src="../../../assets/video/video-homepage.mp4" type="video/mp4">
</video>

<!--Carousel-->
<!-- <section>
   <div class="carousel-style">
      <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator" [interval]="cycleInterval">
         <slide *ngFor="let slide of slides; let index=index">
            <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
               <h4>Slide {{index}}</h4>
               <p>{{slide.text}}</p>
            </div>
         </slide>
      </carousel>
   </div>
</section> -->

<section class="section-title">
   <div class="layout-title">
      <h1 class="title">PALADAR PET</h1>
      <p class="layout-subtitle">O Sabor da Vida do Seu Pet com Pet Paladar</p>
      <button class="btn-scanner-title">Comece a escanear</button>
   </div>
</section>

<section class="section-about">
   <div class="layout-about-icon">
      <div>
         <img src="../../../../../assets/img/dog-about.png" style="margin-left: 25%;">
         <p class="text-about">Pouco mais de 37% dos cães e gatos têm alimentação adequada baseada em alimento
            industrial completo
         </p>
      </div>
   </div>
   <div class="layout-about-icon">
      <div>
         <img src="../../../assets/img/dog-bowl-about.png" style="margin-left: 25%;">
         <p class="text-about">A Associação Brasileira da Indústria de Produtos para Animais de Estimação (Abinpet)
            relata que o mercado
            brasileiro apresenta mais de 1.500 marcas de alimentos para pets</p>
      </div>
   </div>
   <div class="layout-about-icon">
      <div>
         <img src="../../../assets/img//cat-about-.png" style="margin-left: 25%;">
         <p class="text-about">2/3 desta população ainda é alimentada por outras fontes, como alimento humano, o que
            pode acarretar na obesidade.</p>
      </div>
   </div>
</section>

<section class="layout-about-description">
   <div class="layout-about-description-width">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 94" fill="none">
         <path d="M0 0V42.2354C585.092 -25.1639 1038.68 198.257 1439.97 29.4009L1440 0H0Z" fill="white" />
      </svg>
      <div class="d-flex">
         <div class="layout-about-text">
            <h3 class="title-about-description">Sobre a aplicação</h3>
            <p class="text-about-description">
               O Pet Paladar é uma solução inovadora que utiliza IA para garantir que seu animal de estimação receba a
               nutrição necessária. Classificando rações em três categorias - A (acima do mínimo), B (atende aos
               mínimos) e
               C (abaixo do mínimo), você pode ter confiança na alimentação do seu pet, promovendo sua saúde e
               vitalidade.
            </p>
         </div>
         <div>
            <img src="../../../assets/img/cat-about-description.png" style="width: 85%; margin-top: 6%;">
         </div>
      </div>
   </div>
</section>