.video {
  width: 100%;
  z-index: 0;
}

.carousel-style {
  width: 60%; 
  height: 400px; 
  margin-left: 20%;
  margin-top: 1%;
}

.section-title{
  position: absolute; 
  top: 23%;
  left: 8%;
}

.title {
  width: 50%;
  height: 20%;
  color: var(--main-color-title);
  font-family: var(--main-font);
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 85px; 
}

.layout-title{
  width: 50%;
  height: 60%;
}

.layout-subtitle{
  color: var(--main-color-title);
  font-family: var(--main-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; 
}

.btn-scanner-title{
  width: 264px;
  height: 71px;
  border-radius: 10px;
  border-bottom: 0.3px solid #525252;
  background: var(--green-pet);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-style: none;
  color: #000;
  font-family: var(--main-font);
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.section-about {
  width: 100%;
  height: 400px;
  display: flex;
}

.layout-about-icon {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.text-about {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; 
}

.layout-about-description{
  width: 100%;
  height: 500px;
  display: flex;
  background: #8CC4D3;
}

.layout-width {
  width: 100%;
}

.layout-about-text{
  width: 70%;
}

.title-about-description {
  color: #6F4C22;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 6%;
}

.text-about-description {
  margin-left: 6%;
  margin-top: 1%;
  width: 650px;
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.img-margin-about {
  margin-left: 25%;
}

.layout-how-to-use {
  width: 100%;
  height: 500px;
  background: var(--green-pet);
}

.layout-number-how-to-use {
  width: 100%;
  height: 100%;
}

.box-how-to-use {
  display: flex;
  margin-left: 1%;
}

.number-how-to-use {
  color: #FFF;
  font-family: Poppins;
  font-size: 74px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-weight: bold;
}

.layout-number-width {
  width: 100%;
  height: 100%;
  display: flex; 
  align-items: center; 
}

.text-number-how-to-use {
  display: flex;
  width: 100%;
  color: #000;
  font-size: 15.5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 2.3%;
  justify-content: center; 
  align-items: center; 
  align-content: center;  
  font-weight: bold;
}

.svg-mobile {
  display: none;
}

.img-cat-about {
  width: 75%;
  margin-top: -12%;
}

.section-better-nutrition {
  width: 100%;
  height: 800px;
  background-color: #AF895E;
}

.text-better-nutrition {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; 
  margin-top: 6%;
}

.box-better-nutrition {
  width: 100%; 
  height: 90%; 
  display: flex; 
  align-items: center;
  /* border: 1px solid red; */
}

.better-nutrition-desc {
  width: 33.3%; 
  height: 70%; 
  /* border: 1px solid blue; */
}

.section-ifsp-tcc {
  width: 100%;
  height: 580px;
  background-color: #FFF;
}

.text-ifsp-tcc {
  width: 50%;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; 
  color: #000;
}

.layout-ifsp-tcc {
  width: 100%;
  height: 100%;
  display: flex; 
  align-items: center;
}

.section-footer {
  width: 100%; 
  height: 500px; 
  background-color: #AF895E;
}

.layout-logo {
  width: 45%;
}

.img-logo {
  width: 100%;
}

@media (max-width: 768px) {

  .svg-desktop {
    display: none;
  }

  .svg-mobile {
    display: block;
    margin-top: -1px;
  }

  .height-mobile-video {
    height: 230px;
  }

  .absolute{
    position: absolute;
  }

  .layout-title{
    width: 80%;
  }

  .btn-scanner-title {
    width: 186px;
    height: 50px;
    font-size: 14px;
  }

  .section-title {
    position: absolute;
    top: 8%;
  }

  .layout-subtitle {
    font-size: 20px;
    line-height: 30px;
  }

  .title {
    width: 100%;
    font-size: 40px;
    line-height: 50px;
  }

  .section-about {

    flex-direction: column;   
    align-items: center;
    height: 1100px;
  }

  .layout-about-icon {
    width: 20%;
  }

  .text-about {
    font-size: 14px;
  }

  .img-margin-about {
    margin-left: 0;
  } 

  .box-how-to-use{
    flex-direction: column;
  }

  .layout-how-to-use {
    height: 620px;
  }

  .layout-number-width{
    height: 80%;
  }

  .p-how-to-use {
    margin: 7px 0 12px;
  }

  .svg-how-to-use {
    height: 7%;
  }

  .svg-about-description {
    height: 6%;
  }

  .text-about-description {
    font-size: 16px;
    width: 335px;
  }

  .layout-about-description {
    width: 100%;
    height: 850px;
  }

  .direction-img {
    flex-direction: column;
  }

  .img-cat-about { 
    margin-left: 7%;
    margin-top: -5%;
  }

  .layout-ifsp-tcc  {
    flex-direction: column;
  }

  .img-footer { 
    width: 80%;
    margin-left: 20px;
  }

  .better-nutrition-desc {
    width: 100%;
    height:  35%;
  }

  .box-better-nutrition {
    flex-direction: column;
    height: 100%;
  }

  .section-better-nutrition {
    height: 1300px;
  }

  .layout-logo {
    width: 100%;
  }

}