/* 
text-align: center;
display: inline-block;
padding: 15px 30px;
font-weight: 500;
*/

.video {
  width: 100%;
  z-index: 0;
}

.carousel-style {
  width: 60%; 
  height: 400px; 
  margin-left: 20%;
  margin-top: 1%;
}

.title {
  width: 463px;
  height: 214px;
  color: #FFF;
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 90px; /* 93.75% */
}