* {
    font-family: var(--main-font) !important;
}

.nav-menu-header {
    background-color: transparent !important;
    z-index: 1;
}
     
.nav-menu-buttons {
    color: white !important;
    font-size: 32px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
}

.nav-menu-buttons:hover{
    transition: 1s;
    color: var(--green-pet) !important;
}
   
.nav-menu-button-active {
    height: 55px;
    color: var(--green-pet) !important;
    border-bottom: 4px solid;
    border-radius: 2px;
}

.header-position {
    position: absolute; top: 1%; left: 2%;
}

.header-color{
    background: #AF895E;
}


@media (max-width: 768px) {

    .header-position {
        position: relative;
        top: 0%;
        left: 0%;
    }

    .nav-menu-buttons {
        color: #FFF !important;
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 600 !important;
        line-height: normal !important;
    }

    .nav-menu-button-active {
        color: var(--green-pet) !important;
        border-bottom: 0px solid;
    }

    .nav-menu-header {
        background-color: #AF895E !important;
    }
}