<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<header>
  <!--o routerLink irá linkar para qual component eu quero enxergar-->
    <mat-toolbar class="mat-toolbar">
      <span class="buttons">
        <button mat-button class="buttons" [matMenuTriggerFor]="homeMenu" routerLink="">Home</button>
        <mat-menu #homeMenu="matMenu" yPosition="above"> </mat-menu>
  
        <button mat-button class="buttons" [matMenuTriggerFor]="loginMenu" routerLink="/login">Login</button>
        <mat-menu #loginMenu="matMenu" yPosition="above"> </mat-menu>
  
        <button mat-button class="buttons" [matMenuTriggerFor]="cadastroMenu" routerLink="/cadastro">Cadastro</button>
        <mat-menu #cadastroMenu="matMenu" xPosition="before"> </mat-menu>
  
        <button mat-button class="buttons" [matMenuTriggerFor]="scanMenu" routerLink="/scanner">Scanner</button>
        <mat-menu #scanMenu="matMenu" xPosition="after"> </mat-menu>
      </span>
    </mat-toolbar>
</header>