.buttons {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Lato', sans-serif;
    margin-right: 6px;
    color:white;
    padding: none;
    text-align: center;
    font-size: 18px;
}
     
.mat-toolbar {
    background-color: #525252;
    justify-content: flex-end;
}
   