* {
    font-family: var(--main-font) !important;
}

.nav-menu-header {
    background-color: transparent !important;
    z-index: 1;
}
     
.nav-menu-buttons {
    color: white !important;
    font-size: 32px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
}
   
.nav-menu-button-active {
    height: 55px;
    color: var(--green-pet) !important;
    border-bottom: 4px solid;
    border-radius: 2px;
}